body{
    background-color: #eee;
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 0% ;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #000732;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;

}
.barra{
    background-color: #8ecae6;
}
.CV{
    border-top: 2px rgb(185, 185, 185) solid;
    padding: 0%;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.subtitulo{
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .curriculum{
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}